body{
    background-color: rgba(44, 132, 233, 0.445);
    font: normal 15pt Arial;
}

header{
    color: rgb(0, 0, 0);
    text-align: center;
}

input {
    height: 25px;
    width: 125px;
    background-color: rgb(255, 255, 255, 0.39);
    text-align: center;
    border-radius: 15px;
}

input#botão{
    height: 25px;
    width: 85px;
    background-color: rgb(44, 132, 233, 0.445);
    font-weight: 600;
    margin-left: 50px;
    border-radius: 15px;
}

section{
    background-color: rgb(255, 255, 255, 0.39);
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);

}


div#resultado {
    font-weight: 600;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
}

