@keyframes fadein {
    from { opacity: 0.4; }
    to   { opacity: 1; }
}

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*Aprendendo a usar variáveis em CSS*/
:root {
    --corBackground: #84da848f;

    --corMenu: #aaddaa;
    --corMenuHover: #255725;
    --corMenuHoverBackground: #63e7637e;

    --corH1: #1d631d;

    --fonteAndroid: 'Android';
}

body {
    background-color: var(--corBackground);
    margin: 0px;
}

/*CABEÇALHO*/

header {
    color: #fcfbfb;
    font: 17px Arial, Helvetica, monospace;
    font-weight: bold;
    min-height: 170px;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: center;
    background-image: linear-gradient(to bottom, #4dc04d, #1d551d);
    text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.445);
    
}

header > h1 {
    padding-bottom: 10px;
}

header > p {
   margin-bottom: 0px;
   padding-bottom: 20px;
    
}


nav {
    background-color: #1d551d;
    min-width: 280px;
    
    padding: 5px 5px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu {
    font-weight: 600;
    color: var(--corMenu);
    border: 10px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    /*transition-duration: 0.3s;*/
}

.menu:hover {
    color: var(--corMenuHover);
    text-shadow: none;
    animation: fadein 1.2s;  /*Padrão*/ 
    background-color: var(--corMenuHoverBackground);
    
}



/*MAIN*/

main {
    min-width: 280px;
    max-width: 800px;
    background-color: white;
    padding: 18px;
    margin: auto;
    box-shadow: 0px 0px 5px 1px #00000075;
    border-radius: 0px 0px 6px 6px;
    
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main img.imagemPequena {
    max-width: 350px;
    
}

main p {
    text-align: justify;
    text-indent: 20px;
    font: 16px Arial, Helvetica, monospace;
    line-height: 32px;
}

article {
    margin-left: 10px;
}

#títuloprincipal {
    color: var(--corH1);
    font-size: 30px;
    font-family: var(--fonteAndroid);
}

.fonteandroid{
    color: #287428;
    font-family: var(--fonteAndroid);
    padding: 3px 3px 3px 10px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #66b466b6, #55b45569, #55b4551a, transparent);
}

.video { 
    
    margin: 0px -16px 0px -25px;
    padding: 15px 15px 20px 20px;
    background-color: #287428;
    
    padding-bottom: 58%;
    position: relative;
}

section.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.palavrasDestacadas {
    color: #287428;
    font-weight: bold;
}


.linksExternos {
    color: #245f24;
    background-color: #64d664a1;
    padding: 3px;
    text-decoration: none;
    border-radius: 2px;
    transition-duration: 0.1s;
}

.linksExternos:hover {
    color: #0c2e0c;
    background-color: #439643a1; 
}

.linksExternos::after {
    content: '🔗';
}


aside {
    padding-bottom: 10px;
    margin: auto;
    border-radius: 5px; 
    box-shadow: 1px 1px 3px #00000056;
    background-color: #afe2af;
}

aside > p {
    padding: 5px 5px 5px 15px;
    
}

aside > ul {
    columns: 2;
}

#tituloaside {
    color: white;
    padding: 5px 15px;  
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.336);
    border-radius: 5px 5px 0px 0px;
    
    background-color: #276d27;
}

#linkaside {
    color: #2e772e;
    font-weight: bolder;
    background-color: transparent;
}



/* RODAPÉ */
footer {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 30px;
    text-align: center;
    background-color: #1f531f;
}

footer > p {
    color: white;
    padding-top: 7px;
    font: 16px Arial, Helvetica, monospace;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

#linkFooter {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}

#linkFooter:hover {
    color: #29a525;
    
}